#printPage{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;
}

@page {
  size: 1920px 1500px;
}
.img{
  position: fixed;

}
.hole{
  position: relative;
}
.hover{
  transform: rotate(45deg); /* Rotate the element by 45 degrees */
    position: relative;
    left: -50px; /* Move it to the left by 50px */
    top: -50px; /* Move it to the top by 50px */
}